@font-face {
  font-family: 'Benguiat Bold';
  src: url('../assets/fonts/BENGUIAB.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Benguiat Bold', Arial, sans-serif;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1f2125;
  font-family: 'Benguiat Bold', Arial, sans-serif;
}

.auth-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.auth-box h1 {
  margin-bottom: 20px;
  color: #333;
}

.auth-box .error {
  color: red;
  margin-bottom: 10px;
}

.auth-box input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.auth-box button:hover {
  background-color: #0056b3;
}

.auth-box .switch-btn {
  background-color: transparent;
  color: #007bff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.auth-box .switch-btn:hover {
  text-decoration: underline;
}