.password-list {
  color: gray;
}

.add-button {
  font-size: 24px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.add-button:hover {
  background-color: #0056b3;
}

.password-form {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-input {
  display: flex;
  gap: 10px;
}

.password-input input {
  flex: 1;
}

.password-input button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.password-input button:hover {
  background-color: #0056b3;
}

.password-generation {
  display: flex;
  gap: 20px;  /* Increased gap between buttons */
  align-items: center;
}

.generate-button,
.save-button {
  margin: 0 10px; /* Add horizontal margin to both buttons */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Benguiat Bold', Arial, sans-serif;
}

.generate-button {
  background-color: #630800;
  color: white;
}

.save-button {
  background-color: #28a745;
  color: white;
}

.password-items {
  list-style-type: none;
  padding: 0;
}

.password-item {
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.password-item:hover {
  background-color: #e6e6e6;
}

.password-title {
  font-size: 18px;
  font-weight: bold;
}

.password-details {
  font-size: 14px;
  color: #555;
}

.password-item.expanded {
  background-color: #e0f7fa;
}

.main-title {
  color: #991104;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.list-title {
  color: #808080;
  text-align: center;
  margin-bottom: 30px;
}

.password-boxes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

.password-box {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  min-height: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.password-box:hover {
  transform: translateX(10px);
}

.password-box.empty {
  background-color: white;
  opacity: 0.7;
}

.create-button {
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Benguiat Bold', Arial, sans-serif;
  display: block;
  margin: 0 auto;
}

.create-button:hover {
  background-color: #0056b3;
}

.password-value {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee;
  color: #666;
}